- @title = 'Etykiety „Białe małżeństwo”'
- @meta_keywords = 'białe małżeństwo, program teatralny, etykiety letterpress, etykiety druk wypukły, teatr współczesny, etykiety papier, ręcznie robione etykiety, wrocławski teatr współczesny, '
- @body_id = 'biale_malzenstwo'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'zaproszenia_slubne_letterpress'
- @prev_work = 'fopa'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Etykiety <em>Białe małżeństwo</em>
  #work_description
    %p
      etykiety wykonane techniką letterpress użyte do materiałów promocyjnych oraz do programu spektaklu <em>Białe małżeństwo</em> (Wrocławski Teatr Współczesny)
      %br
      druk typograficzny 1-kolorowy
      %br
      do kupienia we <a href="http://www.wteatrw.pl/">Wrocławskim Teatrze Współczesnym</a>
#thumbnails.clearfix
  %a{ :href => "biale_malzenstwo/duze/biale_malzenstwo1.jpg", :title => "Etykiety wykonane techniką letterpres do spektaklu „Białe małżeństwstwo”", :rel => "biale_malzenstwo" }
    %img{ :src => "biale_malzenstwo/male/biale_malzenstwo1.jpg", :alt => "Etykiety wykonane techniką letterpress" }
  %a{ :href => "biale_malzenstwo/duze/biale_malzenstwo2.jpg", :title => "Etykiety wykonane techniką letterpress do spektaklu „Białe małżeństwstwo”", :rel => "biale_malzenstwo" }
    %img{ :src => "biale_malzenstwo/male/biale_malzenstwo2.jpg", :alt => "Etykiety wykonane techniką letterpres" }
  %a{ :href => "biale_malzenstwo/duze/biale_malzenstwo3.jpg", :title => "Etykiety wykonane techniką letterpress do spektaklu „Białe małżeństwstwo”", :rel => "biale_malzenstwo" }
    %img{ :src => "biale_malzenstwo/male/biale_malzenstwo3.jpg", :alt => "Etykiety wykonane techniką letterpres" }
  %a{ :href => "biale_malzenstwo/duze/biale_malzenstwo4.jpg", :title => "Etykiety wykonane techniką letterpress do spektaklu „Białe małżeństwstwo”", :rel => "biale_malzenstwo" }
    %img{ :src => "biale_malzenstwo/male/biale_malzenstwo4.jpg", :alt => "Etykiety wykonane techniką letterpres" }
%p#projekt
  projekt: YHO
