- @title = 'Wizytówki Codequest'
- @meta_keywords = 'wizytówki letterpress, wizytówki druk wypukły, wizytówki papier, ręcznie robione wizytówki, '
- @body_id = 'codequest'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'monterail'
- @prev_work = 'kieszonkowy_atlas_zwierzat'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki Codequest
  #work_description
    %p
      wizytówki wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "codequest/duze/codequest1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "codequest" }
    %img{ :src => "codequest/male/codequest1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "codequest/duze/codequest2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "codequest" }
    %img{ :src => "codequest/male/codequest2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "codequest/duze/codequest3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "codequest" }
    %img{ :src => "codequest/male/codequest3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "codequest/duze/codequest4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "codequest" }
    %img{ :src => "codequest/male/codequest4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "codequest/duze/codequest5.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "codequest" }
    %img{ :src => "codequest/male/codequest5.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO na bazie projektu klienta
