- @title = 'Dyplomy Summer Digital Academy'
- @meta_keywords = 'dyplomy letterpress, dyplom, druk wypukły, dyplomy papier, ręcznie robione dyplomy, '
- @body_id = 'dyplomy_sda'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'okladki_do_notatnikow_festiwalowych_dialog_2011'
- @prev_work = 'zaproszenia_sylwia_mucha'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Dyplomy <a href="http://www.digitalacademy.pl/" target="_blank">Summer Digital Academy</a>
  #work_description
    %p
      dyplomy wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy1.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy1.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy2.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy2.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy3.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy3.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy4.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy4.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy5.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy5.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
  %a{ :href => "dyplomy_letterpress_summer_digital_academy/duze/dyplomy_letterpress_summer_digital_academy6.jpg", :title => "Dyplomy wykonane techniką letterpress", :rel => "dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy6.jpg", :alt => "Dyplomy wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
