- @title = 'Wizytówki FOPA Film Family'
- @meta_keywords = 'wizytówki letterpress, wizytówki druk wypukły, wizytówki papier, ręcznie robione wizytówki, '
- @body_id = 'fopa'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'biale_malzenstwo'
- @prev_work = 'twarda-sztuka'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki FOPA Film Family
  #work_description
    %p
      wizytówki wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails.clearfix
  %a{ :href => "fopa/duze/fopa1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "fopa" }
    %img{ :src => "fopa/male/fopa1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "fopa/duze/fopa2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "fopa" }
    %img{ :src => "fopa/male/fopa2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "fopa/duze/fopa3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "fopa" }
    %img{ :src => "fopa/male/fopa3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "fopa/duze/fopa4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "fopa" }
    %img{ :src => "fopa/male/fopa4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
