- @title = 'Okładka płyty GIVEN'
- @meta_keywords = 'okładka płyty letterpress, wojciech pus given, płyty winylowe letterpress, wojciech pus, okładka papier, ręcznie robione okładki, '
- @body_id = 'given'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'kartki_swiateczne_letterpress_brokers_union'
- @prev_work = 'przedostatnistanskupienia'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Okładka płyty winylowej <span class="caps">GIVEN</span>
  #work_description
    %p
      Limitowana seria płyt winylowych z muzyką Wojciecha Pusia
    %p
      Druk typograficzny, jednokolorowy
#thumbnails.clearfix
  %a{ :href => "given/duze/given1.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given1.jpg", :alt => "Okładka wykonana techniką letterpress" }
  %a{ :href => "given/duze/given2.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given2.jpg", :alt => "Okładka wykonana techniką letterpress" }
  %a{ :href => "given/duze/given3.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given3.jpg", :alt => "Okładka wykonana techniką letterpress" }
  %a{ :href => "given/duze/given4.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given4.jpg", :alt => "Okładka wykonana techniką letterpress" }
  %a{ :href => "given/duze/given5.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given5.jpg", :alt => "Okładka wykonana techniką letterpress" }
  %a{ :href => "given/duze/given6.jpg", :title => "Okładka wykonana techniką letterpress", :rel => "given" }
    %img{ :src => "given/male/given6.jpg", :alt => "Okładka wykonana techniką letterpress" }
%p#projekt
  projekt: YHO
