- @title = 'Firmowe kartki świąteczne letterpress dla Brokers Union'
- @meta_keywords = 'kartki świąteczne letterpress, firmowe, druk firmowych kartek świątecznych, kartki świąteczne ręcznie robione, '
- @body_id = 'kartki_swiateczne_letterpress_brokers_union'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'posterpolex'
- @prev_work = 'given'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Firmowe kartki świąteczne Brokers Union
  #work_description
    %p
      kartki świąteczne wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy
#thumbnails.clearfix
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union1.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union1.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union2.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union2.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union3.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union3.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union4.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union4.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union5.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union5.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
  %a{ :href => "kartki_swiateczne_letterpress_brokers_union/duze/kartki_swiateczne_letterpress_brokers_union6.jpg", :title => "Kartki świąteczne wykonane techniką letterpress", :rel => "kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union6.jpg", :alt => "Kartki świąteczne wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
