- @title = 'Kieszonkowy Atlas Zwierząt'
- @meta_keywords = 'okładki letterpress, kieszonkowy atlas zwierząt, druk okładek, ręcznie robione okładki, '
- @body_id = 'kieszonkowy_atlas_zwierzat'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'codequest'
- @prev_work = 'zaproszenia_slubne_letterpress_JZ'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Kieszonkowy Atlas Zwierząt - album ze zdjęciami Krzysztofa Solarewicza
  #work_description
    %p

      wykonany techniką letterpress, druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz1.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz1.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz2.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz2.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz3.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz3.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz4.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz4.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz5.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz5.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz6.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz6.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz7.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz7.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz8.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz8.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz9.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz9.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz10.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz10.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "kieszonkowy_atlas_zwierzat/duze/kaz11.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "kaz" }
    %img{ :src => "kieszonkowy_atlas_zwierzat/male/kaz11.jpg", :alt => "Okładki wykonane techniką letterpress" }
%p#projekt
  projekt: Joanna Wojtuś
