- @title = 'Korzeniowscy – karta wizytowa'
- @meta_keywords = 'karta wizytowa ręcznie robiona, tłoczone wydruki, '
- @body_id = 'korzeniowscy'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'wizytowki_koperty_yho'
- @prev_work = 'ksiazeczka'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Korzeniowscy / karta wizytowa 90x60mm
  #work_description
    %p
      druk typograficzny,
      %br
      dwa kolory oraz tłoczenie bez farby,
      %br
      skład czcionkowy – Antykwa Półtawskiego.
#thumbnails.clearfix
  %a{ :href => "korzeniowscy/duze/2.jpg", :title => "Karta wizytowa, druk typograficzny 2-kolorowy", :rel => "korzeniowscy" }
    %img{ :src => "korzeniowscy/male/2.jpg", :alt => "" }
  %a{ :href => "korzeniowscy/duze/1.jpg", :title => "Karta wizytowa, druk typograficzny 1-kolorowy, tłoczenie bez farby", :rel => "korzeniowscy" }
    %img{ :src => "korzeniowscy/male/1.jpg", :alt => "" }
%p#projekt
  projekt: YHO
