- @title = 'Książeczka'
- @meta_keywords = 'krój nil, '
- @body_id = 'ksiazeczka'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'korzeniowscy'
- @prev_work = ' '
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Książeczka YHO
  #work_description
    %p
      materiał promocyjny
      %br
      druk typograficzny 4-kolorowy, tłoczenia
      %br
      7 stron, różne gramatury i rodzaje papieru
      %br
      skład czcionkowy, podstawowy tekst złożony krojem Nil
#thumbnails.clearfix
  %a{ :href => "ksiazeczka/duze/1.jpg", :title => "Ok\305\202adka", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/1.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/11.jpg", :title => "Pierwsza strona", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/11.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/2.jpg", :title => "Ksi\304\205\305\274eczka", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/2.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/5.jpg", :title => "Wieloryb", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/5.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/3.jpg", :title => "T\305\202oczone fale", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/3.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/4.jpg", :title => "Wieloryb", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/4.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/10.jpg", :title => "Dost\304\231pne kroje w formie czcionek metalowych", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/10.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/7.jpg", :title => "Wieloryb", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/7.jpg", :alt => "" }
  %a{ :href => "ksiazeczka/duze/9.jpg", :title => "Ostatnia strona", :rel => "ksiazeczka" }
    %img{ :src => "ksiazeczka/male/9.jpg", :alt => "" }
%p#projekt
  projekt: YHO
