- @title = 'Wizytówki Monterail'
- @meta_keywords = 'wizytówki letterpress, wizytówki druk wypukły, wizytówki papier, ręcznie robione wizytówki, '
- @body_id = 'monterail'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'zaproszenia_sylwia_mucha'
- @prev_work = 'codequest'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki Monterail
  #work_description
    %p
      wizytówki wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "monterail/duze/monterail1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail/male/monterail1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail/duze/monterail2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail/male/monterail2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail/duze/monterail3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail/male/monterail3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail/duze/monterail4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail/male/monterail4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail/duze/monterail5.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail/male/monterail5.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
