- @title = 'Wizytówki Monterail'
- @meta_keywords = 'wizytówki letterpress, ręcznie robione wizytówki, '
- @body_id = 'monterail_czcionkowe'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'twarda-sztuka'
- @prev_work = 'wizytowki_koperty_yho'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki Monterail
  #work_description
    %p
      wizytówki wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
      %br
      skład czcionkowy (krój Nil)
#thumbnails.clearfix
  %a{ :href => "monterail_czcionkowe/duze/monterail1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail5.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail5.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail6.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail6.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "monterail_czcionkowe/duze/monterail7.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "monterail" }
    %img{ :src => "monterail_czcionkowe/male/monterail7.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
