- @title = 'Okadki do notatników festiwalowych MFT Dialog 2011'
- @meta_keywords = 'okladki letterpress, okladki, druk wypukły, okladki papier, ręcznie robione okladki, '
- @body_id = 'okladki_dialog_2011'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'wizytowki_tilmannschaffer'
- @prev_work = 'dyplomy_letterpress_summer_digital_academy'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Okładki do notatników festiwalowych Międzynarodowego Festiwalu Teatralnego Dialog 2011
  #work_description
    %p
      okładki wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "okladki_do_notatnikow_festiwalowych_dialog_2011/duze/okladki_do_notatnikow_festiwalowych_dialog_20111.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20111.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "okladki_do_notatnikow_festiwalowych_dialog_2011/duze/okladki_do_notatnikow_festiwalowych_dialog_20112.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20112.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "okladki_do_notatnikow_festiwalowych_dialog_2011/duze/okladki_do_notatnikow_festiwalowych_dialog_20113.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20113.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "okladki_do_notatnikow_festiwalowych_dialog_2011/duze/okladki_do_notatnikow_festiwalowych_dialog_20114.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20114.jpg", :alt => "Okładki wykonane techniką letterpress" }
  %a{ :href => "okladki_do_notatnikow_festiwalowych_dialog_2011/duze/okladki_do_notatnikow_festiwalowych_dialog_20115.jpg", :title => "Okładki wykonane techniką letterpress", :rel => "okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20115.jpg", :alt => "Okładki wykonane techniką letterpress" }
%p#projekt
  projekt: Joanna Solarewicz
