- @title = 'Okładki kalendarza'
- @meta_keywords = 'okładki letterpress, druk okładek, ręcznie robione okładki, '
- @body_id = 'okladki_kalendarza_dla_teatru_wspolczesnego'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'zaproszenia_slubne_letterpress_JZ'
- @prev_work = 'posterpolex'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Okładki kalendarza dla Wrocławskiego Teatru Współczesnego
  #work_description
    %p
      wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy
#thumbnails
  %a{ :href => "okladki_kalendarza_dla_teatru_wspolczesnego/duze/okladki_kalendarza_dla_teatru_wspolczesnego1.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "okladki_kalendarza_dla_teatru_wspolczesnego" }
    %img{ :src => "okladki_kalendarza_dla_teatru_wspolczesnego/male/okladki_kalendarza_dla_teatru_wspolczesnego1.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "okladki_kalendarza_dla_teatru_wspolczesnego/duze/okladki_kalendarza_dla_teatru_wspolczesnego2.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "okladki_kalendarza_dla_teatru_wspolczesnego" }
    %img{ :src => "okladki_kalendarza_dla_teatru_wspolczesnego/male/okladki_kalendarza_dla_teatru_wspolczesnego2.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "okladki_kalendarza_dla_teatru_wspolczesnego/duze/okladki_kalendarza_dla_teatru_wspolczesnego3.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "okladki_kalendarza_dla_teatru_wspolczesnego" }
    %img{ :src => "okladki_kalendarza_dla_teatru_wspolczesnego/male/okladki_kalendarza_dla_teatru_wspolczesnego3.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "okladki_kalendarza_dla_teatru_wspolczesnego/duze/okladki_kalendarza_dla_teatru_wspolczesnego4.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "okladki_kalendarza_dla_teatru_wspolczesnego" }
    %img{ :src => "okladki_kalendarza_dla_teatru_wspolczesnego/male/okladki_kalendarza_dla_teatru_wspolczesnego4.jpg", :alt => "Zakładki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
