- @title = 'Zakładki dla Posterpolex'
- @meta_keywords = 'zakładki letterpress, firmowe, druk firmowych zakładek, ręcznie robione zakładki, '
- @body_id = 'posterpolex'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'okladki_kalendarza_dla_teatru_wspolczesnego'
- @prev_work = 'kartki_swiateczne_letterpress_brokers_union'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Zakładki dla <a href="http://www.posterpolex.com/">Posterpolex</a>
  #work_description
    %p
      wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy
#thumbnails
  %a{ :href => "posterpolex/duze/posterpolex1.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex1.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "posterpolex/duze/posterpolex2.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex2.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "posterpolex/duze/posterpolex3.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex3.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "posterpolex/duze/posterpolex4.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex4.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "posterpolex/duze/posterpolex5.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex5.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "posterpolex/duze/posterpolex6.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "posterpolex" }
    %img{ :src => "posterpolex/male/posterpolex6.jpg", :alt => "Zakładki wykonane techniką letterpress" }
%p#projekt
  projekt: Posterpolex
