- @title = 'nadruk na okładce do albumu fotograficznego'
- @meta_keywords = 'nadruki letterpress, przedostatni stan skupienia, krzysztof solarewicz, okładka papier, ręcznie robione okładki, '
- @body_id = 'przedostatnistanskupienia'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'given'
- @prev_work = 'zaproszenia_slubne_letterpress'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Nadruk na okładce do albumu fotograficznego <span class="caps">PRZEDOSTATNISTANSKUPIENIA</span> Krzysztofa Solarewicza
  #work_description
    %p
      Druk typograficzny, jednokolorowy
    %p
      Limitowana seria okładek albumu z 27 czarno-białymi fotografiami
    %p
      Do kupienia w pracowni <span class="caps">YHO</span>, prosimy o <a href="/kontakt">kontakt</a>
#thumbnails.clearfix
  %a{ :href => "przedostatnistanskupienia/duze/przedostatnistanskupienia1.jpg", :title => "Nadruki wykonane techniką letterpress", :rel => "przedostatnistanskupienia" }
    %img{ :src => "przedostatnistanskupienia/male/przedostatnistanskupienia1.jpg", :alt => "Nadruki wykonane techniką letterpress" }
  %a{ :href => "przedostatnistanskupienia/duze/przedostatnistanskupienia2.jpg", :title => "Nadruki wykonane techniką letterpress", :rel => "przedostatnistanskupienia" }
    %img{ :src => "przedostatnistanskupienia/male/przedostatnistanskupienia2.jpg", :alt => "Nadruki wykonane techniką letterpress" }
  %a{ :href => "przedostatnistanskupienia/duze/przedostatnistanskupienia3.jpg", :title => "Nadruki wykonane techniką letterpress", :rel => "przedostatnistanskupienia" }
    %img{ :src => "przedostatnistanskupienia/male/przedostatnistanskupienia3.jpg", :alt => "Nadruki wykonane techniką letterpress" }
%p#projekt
  projekt okładki: Joanna Wojtuś
