- @title = 'Wizytówki Twarda Sztuka'
- @meta_keywords = 'wizytówki letterpress, ręcznie robione wizytówki, '
- @body_id = 'twardasztuka'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'fopa'
- @prev_work = 'monterail'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki Twarda Sztuka
  #work_description
    %p
      wizytówki wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy, tłoczenia bez farby
#thumbnails.clearfix
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka5.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka5.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka6.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka6.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "twarda-sztuka/duze/twarda-sztuka7.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "twarda-sztuka" }
    %img{ :src => "twarda-sztuka/male/twarda-sztuka7.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
