- @title = 'Wizytówki i koperty'
- @meta_keywords = 'ręcznie robione wizytówki, tłoczone wizytówki, nadruki na koperty, '
- @body_id = 'wizytowki_koperty_yho'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'monterail'
- @prev_work = 'korzeniowscy'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki i koperty YHO
  #work_description
    %p
      druk typograficzny 2-kolorowy, tłoczenia bez farby
      %br
      skład czcionkowy (Antykwa Półtawskiego)
#thumbnails.clearfix
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress1.jpg", :title => "System wizualny YHO: zakładki wykonane techniką letterpress", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress1.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress2.jpg", :title => "System wizualny YHO: tłoczenia", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress2.jpg", :alt => "System wizualny YHO: tłoczenia" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress3.jpg", :title => "Nadruk na kopertach", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress3.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress4.jpg", :title => "Typo", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress4.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress5.jpg", :title => "System wizualny YHO: tłoczenia", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress5.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress6.jpg", :title => "System wizualny YHO ", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress6.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress7.jpg", :title => "System wizualny YHO: wizytówki wykonane techniką letterpress", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress7.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress8.jpg", :title => "System wizualny YHO: wizytówki wykonane techniką letterpress", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress8.jpg", :alt => "" }
  %a{ :href => "wizytowki_koperty_yho/duze/yho_wizytowki_koperty_letterpress9.jpg", :title => "System wizualny YHO: Nasz wieloryb", :rel => "wizytowki_koperty_yho" }
    %img{ :src => "wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress9.jpg", :alt => "" }
%p#projekt
  projekt: YHO
