- @title = 'Wizytówki TilmannSchaffer'
- @meta_keywords = 'wizytówki letterpress, okladki, druk wypukły, okladki papier, ręcznie robione wizytówki, '
- @body_id = 'wizytowki_tsf'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'wizytowki_tilmannschaffer'
- @prev_work = 'okladki_dialog_2011'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Wizytówki TilmannSchaffer
  #work_description
    %p
      okładki wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy
#thumbnails
  %a{ :href => "wizytowki_tilmannschaffer/duze/tsf1.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "wizytowki_tilmannschaffer" }
    %img{ :src => "wizytowki_tilmannschaffer/male/tsf1.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "wizytowki_tilmannschaffer/duze/tsf2.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "wizytowki_tilmannschaffer" }
    %img{ :src => "wizytowki_tilmannschaffer/male/tsf2.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "wizytowki_tilmannschaffer/duze/tsf3.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "wizytowki_tilmannschaffer" }
    %img{ :src => "wizytowki_tilmannschaffer/male/tsf3.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
  %a{ :href => "wizytowki_tilmannschaffer/duze/tsf4.jpg", :title => "Wizytówki wykonane techniką letterpress", :rel => "wizytowki_tilmannschaffer" }
    %img{ :src => "wizytowki_tilmannschaffer/male/tsf4.jpg", :alt => "Wizytówki wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
