- @title = 'Zaproszenia ślubne letterpress JZ'
- @meta_keywords = 'zaproszenia ślubne, zaproszenia letterpress, zaproszenia ślubne letterpress, druk zaproszeń ślubnych, zaproszenia ręcznie robione, '
- @body_id = 'zaproszenia_slubne_letterpress_JZ'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'kieszonkowy_atlas_zwierzat'

- @prev_work = 'okladki_kalendarza_dla_teatru_wspolczesnego'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Zaproszenia ślubne JZ
  #work_description
    %p
      wykonane techniką letterpress
      %br
      druk typograficzny 2-kolorowy
#thumbnails
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ1.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ1.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ2.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ2.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ3.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ3.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ4.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ4.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ5.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ5.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ6.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ6.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ7.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ7.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ8.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ8.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ9.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ9.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ10.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ10.jpg", :alt => "Zakładki wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress_JZ/duze/zaproszenia_slubne_letterpress_JZ11.jpg", :title => "Zakładki wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ11.jpg", :alt => "Zakładki wykonane techniką letterpress" }
%p#projekt

  projekt: Joanna Wylegała
