- @title = 'Zaproszenia Sylwia Mucha'
- @meta_keywords = 'zaproszenia letterpress, zaproszenia, druk wypukły, zaproszenia papier, ręcznie robione zaproszenia, '
- @body_id = 'zaproszenia_sylwia_mucha'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'dyplomy_letterpress_summer_digital_academy'
- @prev_work = 'monterail'
#work_info
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Zaproszenia Sylwia Mucha
  #work_description
    %p
      zaproszenia wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy
#thumbnails
  %a{ :href => "zaproszenia_sylwia_mucha/duze/zaproszenia_sylwia_mucha1.jpg", :title => "Zaproszenia wykonane techniką letterpress", :rel => "zaproszenia_sylwia_mucha" }
    %img{ :src => "zaproszenia_sylwia_mucha/male/zaproszenia_sylwia_mucha1.jpg", :alt => "Zaproszenia wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_sylwia_mucha/duze/zaproszenia_sylwia_mucha2.jpg", :title => "Zaproszenia wykonane techniką letterpress", :rel => "zaproszenia_sylwia_mucha" }
    %img{ :src => "zaproszenia_sylwia_mucha/male/zaproszenia_sylwia_mucha2.jpg", :alt => "Zaproszenia wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_sylwia_mucha/duze/zaproszenia_sylwia_mucha3.jpg", :title => "Zaproszenia wykonane techniką letterpress", :rel => "zaproszenia_sylwia_mucha" }
    %img{ :src => "zaproszenia_sylwia_mucha/male/zaproszenia_sylwia_mucha3.jpg", :alt => "Zaproszenia wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_sylwia_mucha/duze/zaproszenia_sylwia_mucha4.jpg", :title => "Zaproszenia wykonane techniką letterpress", :rel => "zaproszenia_sylwia_mucha" }
    %img{ :src => "zaproszenia_sylwia_mucha/male/zaproszenia_sylwia_mucha4.jpg", :alt => "Zaproszenia wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
