- @title = 'Zaproszenia ślubne letterpress'
- @meta_keywords = 'zaproszenia ślubne, zaproszenia letterpress, zaproszenia ślubne letterpress, druk zaproszeń ślubnych, zaproszenia ręcznie robione, '
- @body_id = 'zaproszenia_slubne_alejandra'
- @body_class = 'body_realizacja'
- @colorbox = true
- @next_work = 'przedostatnistanskupienia'
- @prev_work = 'biale_malzenstwo'
#work_info.clearfix
  #work_title
    %h3
      %a{ :href => "/realizacje" }
        %span
          \&uarr;
        Realizacje
    %h2
      Zaproszenia ślubne
  #work_description
    %p
      zaproszenia ślubne wykonane techniką letterpress
      %br
      druk typograficzny 1-kolorowy, tłoczenia
#thumbnails.clearfix
  %a{ :href => "zaproszenia_slubne_letterpress/duze/zaproszenia_slubne_letterpress1.jpg", :title => "Zaproszenia ślubne wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress" }
    %img{ :src => "zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress1.jpg", :alt => "Zaproszenia ślubne wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress/duze/zaproszenia_slubne_letterpress2.jpg", :title => "Zaproszenia ślubne wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress" }
    %img{ :src => "zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress2.jpg", :alt => "Zaproszenia ślubne wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress/duze/zaproszenia_slubne_letterpress3.jpg", :title => "Zaproszenia ślubne wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress" }
    %img{ :src => "zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress3.jpg", :alt => "Zaproszenia ślubne wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress/duze/zaproszenia_slubne_letterpress4.jpg", :title => "Zaproszenia ślubne wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress" }
    %img{ :src => "zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress4.jpg", :alt => "Zaproszenia ślubne wykonane techniką letterpress" }
  %a{ :href => "zaproszenia_slubne_letterpress/duze/zaproszenia_slubne_letterpress5.jpg", :title => "Zaproszenia ślubne wykonane techniką letterpress", :rel => "zaproszenia_slubne_letterpress" }
    %img{ :src => "zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress5.jpg", :alt => "Zaproszenia ślubne wykonane techniką letterpress" }
%p#projekt
  projekt: YHO
