- @body_id = "home"
%h2
  Yho jest pracownią druku typograficznego / <strong>letterpress</strong>.
%p
  Ostatnia realizacja: <a href="/realizacje/monterail" title="wizytówki letterpress">Wizytówki Monterail w technice letterpress</a>.
%p
  W naszej pracowni codziennie łączymy ze sobą przywiązanie do tradycji, precyzję oraz&nbsp;wyjątkowość. Właśnie to połączenie tradycyjnych metod drukarskich z&nbsp;nowoczesnymi sposobami projektowania graficznego gwarantuje <a href="/realizacje/">niepowtarzalny efekt</a> każdego z naszych wydruków.
