- @body_id = "kontakt"
- @title = 'Kontakt'
- @meta_keywords = 'kontakt yho, '
%h2 Kontakt
%p YHO
%p
  +48 605 071 055 (Joanna Solarewicz)
  %br
  +48 535 500 120 (Szymon Boniecki)
%p
  %a{:href => "mailto:yho@yhotypo.com"} yho@yhotypo.com
