- @body_id = 'opracowni'
- @title = 'O pracowni'
- @meta_keywords = 'akcydensy, karty wizytowe, nietypowe zaproszenia, okładki, co to jest druk typograficzny, co to jest druk wypukły, '
%h2
  O pracowni
%p
  Yho jest pracownią druku typograficznego (ang.&nbsp;
  %em<>
    letterpress
  )
%p
  Codziennie w naszej pracy łączymy ze sobą przywiązanie do tradycji, precyzję oraz&nbsp;wyjątkowość. Właśnie to połączenie tradycyjnych metod drukarskich &ndash; między innymi przygotowywanie matryc z&nbsp;czcionek metalowych &ndash; z&nbsp;nowoczesnymi sposobami projektowania graficznego gwarantuje niepowtarzalny efekt każdego z naszych wydruków.
%p
  Każde zlecenie traktujemy indywidualnie. Zarówno projektujemy jak i&nbsp;pomagamy przygotować zewnętrzne projekty do druku wypukłego.&nbsp;Dbamy o&nbsp;to, by tłem dla wydruków był papier dobrany charakterem do realizowanego projektu.
%h4
  Co to jest druk typograficzny?
%p
  Druk typograficzny to technika druku wypukłego, w&nbsp;której arkusz papieru jest dociskany do formy drukarskiej.
  Dzięki tej metodzie można uzyskać niespotykane już efekty, które nadają wydrukom niepowtarzalny charakter.
  Od
  %span.caps
    XV
  do połowy
  %span.caps
    XX
  wieku większość druków otrzymywana była właśnie za pomocą tej metody, jednak wraz z upowszechnieniem się bardziej efektywnych technik, poligrafia stała się jedynie dwuwymiarowa.
