- @body_id = "realizacje"
- @title = 'Realizacje'
- @meta_keywords = 'wizytówki ręcznie robione, wizytowki letterpress, wizytówki tłoczone, nietypowe druki, '
%h2
  Realizacje
.realizacja
  %a{ :href => "realizacje/wizytowki_tilmannschaffer" }
    %img{ :src => "realizacje/wizytowki_tilmannschaffer/male/tsf3.jpg", :alt => "" }
  %h3
    Wizytówki TilmannSchaffer
  %p
    Druk typograficzny, 1-kolorowy
  %p
    %a{ :href => "realizacje/wizytowki_tilmannschaffer" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/okladki_do_notatnikow_festiwalowych_dialog_2011" }
    %img{ :src => "realizacje/okladki_do_notatnikow_festiwalowych_dialog_2011/male/okladki_do_notatnikow_festiwalowych_dialog_20111.jpg", :alt => "" }
  %h3
    Okładki do notatników festiwalowych Dialog 2011
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: Joanna Solarewicz
  %p
    %a{ :href => "realizacje/okladki_do_notatnikow_festiwalowych_dialog_2011" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/dyplomy_letterpress_summer_digital_academy" }
    %img{ :src => "realizacje/dyplomy_letterpress_summer_digital_academy/male/dyplomy_letterpress_summer_digital_academy1.jpg", :alt => "" }
  %h3
    Dyplomy Summer Digital Academy
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: Maciej Młynek
  %p
    %a{ :href => "realizacje/dyplomy_letterpress_summer_digital_academy" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/zaproszenia_sylwia_mucha" }
    %img{ :src => "realizacje/zaproszenia_sylwia_mucha/male/zaproszenia_sylwia_mucha1.jpg", :alt => "" }
  %h3
    Zaproszenia Sylwia Mucha
  %p
    Druk typograficzny, 1-kolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/zaproszenia_sylwia_mucha" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/monterail" }
    %img{ :src => "realizacje/monterail/male/monterail1.jpg", :alt => "" }
  %h3
    Wizytówki Monterail
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/monterail" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/codequest" }
    %img{ :src => "realizacje/codequest/male/codequest1.jpg", :alt => "" }
  %h3
    Wizytówki Codequest
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: YHO na bazie projektu klienta
  %p
    %a{ :href => "realizacje/codequest" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/kieszonkowy_atlas_zwierzat" }
    %img{ :src => "realizacje/kieszonkowy_atlas_zwierzat/male/kaz6.jpg", :alt => "" }
  %h3
    Kieszonkowy Atlas Zwierząt
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: Joanna Solarewicz
  %p
    %a{ :href => "realizacje/kieszonkowy_atlas_zwierzat" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/zaproszenia_slubne_letterpress_JZ" }
    %img{ :src => "realizacje/zaproszenia_slubne_letterpress_JZ/male/zaproszenia_slubne_letterpress_JZ5.jpg", :alt => "" }
  %h3
    Zaproszenia ślubne JZ
  %p
    Druk typograficzny, 2-kolorowy
  %p.projekt
    projekt: Joanna Wylegała
  %p
    %a{ :href => "realizacje/zaproszenia_slubne_letterpress_JZ" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/okladki_kalendarza_dla_teatru_wspolczesnego" }
    %img{ :src => "realizacje/okladki_kalendarza_dla_teatru_wspolczesnego/male/okladki_kalendarza_dla_teatru_wspolczesnego3.jpg", :alt => "" }
  %h3
    Okładki kalendarza dla <span class="caps">WTW</span>
  %p
    Druk typograficzny, jednokolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/okladki_kalendarza_dla_teatru_wspolczesnego" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/posterpolex" }
    %img{ :src => "realizacje/posterpolex/male/posterpolex1.jpg", :alt => "" }
  %h3
    Zakładki Posterpolex
  %p
    Druk typograficzny, jednokolorowy
  %p.projekt
    projekt: Posterpolex
  %p
    %a{ :href => "realizacje/posterpolex" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/kartki_swiateczne_letterpress_brokers_union" }
    %img{ :src => "realizacje/kartki_swiateczne_letterpress_brokers_union/male/kartki_swiateczne_letterpress_brokers_union1.jpg", :alt => "" }
  %h3
    Kartki świąteczne dla Brokers Union
  %p
    Druk typograficzny, jednokolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/kartki_swiateczne_letterpress_brokers_union" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/given" }
    %img{ :src => "realizacje/given/male/given1.jpg", :alt => "" }
  %h3
    Okładka płyty winylowej <span class="caps">GIVEN</span>
  %p
    Druk typograficzny, jednokolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/given" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/przedostatnistanskupienia" }
    %img{ :src => "realizacje/przedostatnistanskupienia/male/przedostatnistanskupienia1.jpg", :alt => "" }
  %h3
    Okładka <span class="caps">PRZEDOSTATNISTANSKUPIENIA</span>
  %p
    Druk typograficzny, jednokolorowy
  %p.projekt
    projekt okładki: Joanna Solarewicz
  %p
    %a{ :href => "realizacje/przedostatnistanskupienia" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/zaproszenia_slubne_letterpress" }
    %img{ :src => "realizacje/zaproszenia_slubne_letterpress/male/zaproszenia_slubne_letterpress2.jpg", :alt => "" }
  %h3
    Zaproszenia ślubne
  %p
    druk typograficzny 1-kolorowy, tłoczenia
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/zaproszenia_slubne_letterpress" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/biale_malzenstwo" }
    %img{ :src => "realizacje/biale_malzenstwo/male/biale_malzenstwo1.jpg", :alt => "" }
  %h3
    Etykiety <em>Białe małżeństwo</em> 
  %p
    druk typograficzny 1-kolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/biale_malzenstwo" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/fopa" }
    %img{ :src => "realizacje/fopa/male/fopa1.jpg", :alt => "" }
  %h3
    Wizytówki FOPA Film Family
  %p
    druk typograficzny 2-kolorowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/fopa" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/twarda-sztuka" }
    %img{ :src => "realizacje/twarda-sztuka/male/twarda-sztuka7.jpg", :alt => "" }
  %h3
    Wizytówki Twarda Sztuka
  %p
    druk typograficzny 1-kolorowy, tłoczenia bez farby
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/twarda-sztuka" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/monterail_czcionkowe" }
    %img{ :src => "realizacje/monterail_czcionkowe/male/monterail7.jpg", :alt => "" }
  %h3
    Wizytówki Monterail
  %p
    druk typograficzny 2-kolorowy, skład czcionkowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/monterail_czcionkowe" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/wizytowki_koperty_yho" }
    %img{ :src => "realizacje/wizytowki_koperty_yho/male/yho_wizytowki_koperty_letterpress6.jpg", :alt => "" }
  %h3
    Wizytówki i koperty YHO
  %p
    druk typograficzny 2-kolorowy, tłoczenia, skład czcionkowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/wizytowki_koperty_yho" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/korzeniowscy", :title => "Nietypowe wizytówki" }
    %img{ :src => "realizacje/korzeniowscy/male/1.jpg", :alt => "" }
  %h3
    Korzeniowscy – karta wizytowa 90x60mm
  %p
    druk typograficzny 2-kolorowy, tłoczenia
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/korzeniowscy" }
      \&raquo; Zobacz
.realizacja
  %a{ :href => "realizacje/ksiazeczka" }
    %img{ :src => "realizacje/ksiazeczka/male/1.jpg", :alt => "" }
  %h3
    Książeczka YHO
  %p
    druk typograficzny 4-kolorowy, tłoczenia, skład czcionkowy
  %p.projekt
    projekt: YHO
  %p
    %a{ :href => "realizacje/ksiazeczka" }
      \&raquo; Zobacz
