- @body_id = "zamowienia"
- @body_class = ""
- @title = 'Zamówienia'
- @meta_keywords = 'unikatowe wydruki, ręcznie robione, jak drukować letterpress, jak przygotować do druku letterpress, pantone letterpress, prasa typograficzna, '
%h2
  Zamówienia
%p
  Jeśli chcieliby Państwo przedyskutować projekt prosimy o kontakt pod adresem e-mail:
  %br
  %a{ :href => "mailto:yho@yhotypo.com", :title => "Napisz e-mail" }
    yho@yhotypo.com
  %br
  bądź telefonicznie: +48 605 071 055 (Asia) / +48 503 356 347 (Szymon)
%h4
  Jak zamawiać?
%p
  Jeśli chcieliby Państwo wydrukować u nas swój projekt z chęcią przedstawimy możliwości, pomożemy zaadoptować projekt do techniki druku wypukłego, doradzimy najlepsze rozwiązania.
%p
  W miarę możliwości prosimy o podanie jak największej ilości informacji o oczekiwanym projekcie, aby uzyskać dokładniejszą wycenę: rozmiar, ilość kolorów, nakład itp. Drukujemy z farb z systemu Pantone®.
%h4
  Druk typograficzny i jego natura
%p
  Wydruki tą techniką w jednym przebiegu mogą nie być identyczne. Proces druku typograﬁcznego w dużej mierze opiera się na pracy ręcznej, więc każde przejście prasy może dawać odrobinę różne rezultaty, co czyni każdy wydruk unikatowym. Prosimy o tym pamiętać przy składaniu zamówień.
%h4
  Ile kosztuje wykonanie projektu? Czy jest dostępny cennik?
%p
  Nie posiadamy cennika, ponieważ każdy projekt wyceniany jest indywidualnie.
  Cena zależy od użytego papieru, ilości użytych kolorów, nakładu, stopnia skomplikowania projektu.
%h4
  Na jakim papierze wykonywane są druki?
%p
  Drukujemy na różnych papierach. Od najcieńszych po bardzo grube, np. 600g. W odróżnieniu od technik typu <i>offset</i> możemy bez ograniczeń drukować na bardzo wielu nietypowych papierach.

%h4 Ile czasu zajmuje realizacja druku?
%p Przyjmujemy, że cały projekt, od przygotowania matrycy do skończenia druku zajmuje około 14 dni. Jednakże terminy zawsze ustalamy na bieżąco w rozmowie z klientem, ponieważ stopień obłożenia maszyny projektami może być różny w danym czasie.
%h4
  Letterpress – jaki efekt uzyskam?
%p
  W obecnych czasach przyjęło się sądzić, że efekt druku typograficznego to mocne wtłoczonie. Nie tylko na tym polega letterpress. Chodzi przede wszystkim o specyficzną jakość druku jaką daje matryca dociskana do papieru. Trzeba pamiętać, że na niektórych papierach może dawać efekt nierónomiernego pokrycia farbą (papiery szorstkie, chropowate), na innych, cieńszych, nie będzie prawie żadnego wtłoczenia - wszystko to składa się na piękno druku i może być wykorzystywane w projektowaniu graficznym. Zbyt mocne wtłoczenie od wieków było traktowane przez mistrzów druku typograficznego jako błąd. 
%h4
  Co należy wiedzieć o farbie?
%p
  Przede wszystkim prosimy mieć na względzie, że farba biała nigdy nie będzie dobrze kryć na ciemnym tle. Projektując np. biały napis na czarnym kartonie nie uzyskamy efektu 100% białych liter, będą one lekko szare.
Myśląc o kolorze, który nachodzi na inny kolor zawsze uzyskamy przemieszanie się barw, nie uzyskamy idealnego krycia jednego koloru drugim. 

%h4
  Jak przygotować projekt?
%p
  Generalnie prosimy o przesyłanie do nas projektów w postaci plików wektorowych - eps, ai, pdf z programu wektorowego.
Jeśli mają Państwo problem z przygotowaniem projektu lub pojawiają się wątpliwości, co do grafiki czy typografii chętnie pomożemy, doradzimy rozwiązania.
%h4
  Czy mogę otrzymać próbki druków?
%p
  Cieszymy się, że są Państwo zainteresowani otrzymywaniem od nas próbek, jednakże mając bardzo dużo takich zapytań prosimy chętnych o opłatę 20 zł za próbki oraz przesyłkę.
  
